# =============================
# Example .env for PostgreSQL
# =============================
# Superuser (created by official image)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Str0ngP@ssw0rd!2025
POSTGRES_DB=postgres

# Application DB and user (created by init script)
APP_DB=mi_base_datos
APP_USER=usuario_app
APP_PASSWORD=Usu@rioP4ss2025!

# Ports
POSTGRES_PORT=5432
PGADMIN_PORT=8081

# pgAdmin default credentials
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=AdminP@ss2025!
